<div class="row">
    <div class="col-md-4" *ngFor="let task of tasks; let i = index">
        <div class="card">
            <div class="card-body">
                <h3>{{task.name}}</h3>
                <p>{{task.description}}</p>
            </div>
            <div class="card-footer">
                <span class="edit" [routerLink]="['/task-edit/', task._id]">
                <button type="button" class="btn btn-success btn-sm">Editar</button>
              </span>
              <span class="delete" (click)="deleteTask(task._id, i)">
                <button type="button" class="btn btn-danger btn-sm">Eliminar</button>
              </span>
            </div>
        </div>
    </div>
</div>